body{
    background-color: rgb(255, 255, 255);
  }
  
  .redhat{
      font-family: 'Red Hat Display', sans-serif;
      font-size: 2em;
      
  }
  .noto{
      font-family: 'Noto Sans SC', sans-serif;
      font-size:1.5em;
  }

  .maintext{
    text-align: center;
    margin: 15.5em 0 0 2em ;
    display: flex;
    flex-direction: column;
  }
  

  a{
    color:rgb(0, 0, 0,0.6);
    text-decoration-line: none;
  }

  .fadeinandout {
    opacity: 1;
    animation: fade 20s linear forwards;
    }

    @keyframes fade {
    0%,100% { opacity: 0 }
    30% { opacity: 1 }
    50% { opacity: 1 }
    }

    .resizer {
      width: 100px;
      height: 100px;
      background: white;
      overflow: hidden;
      resize: both;
    }
    
    body {
      background: #ccc;
      height: 100vh;
      margin: 0;
      display: grid;
      place-items: center;
    }

/* smaller cellphones: */
@media screen and (max-width: 769px){
  .maintext{
    margin: 12em 0 0 0 ;
  }
  .redhat{
    font-size: 0.8em;
  }
  .noto{
    font-size:0.6em;
  }
  .resizer {
    width: 350px;
    height: 350px;}
}



/* 4k: */
@media screen and (min-width:2449px){
  .maintext{
    margin: 30em 0 0 0 ;
  }
  .redhat{
    font-size: 4em;
  }
  .noto{
    font-size:3em;
  }
  .resizer {
    width: 500px;
    height: 500px;}
}

  a {
    cursor:help;
  }