<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../common/reset.css" rel="stylereset">
    <link href="style.css" rel="stylesheet">
    <title>Layout</title>
</head>


<body>
<h1>Layout</h1>
    <center>
<section class="contentart">
    <section class="art-1 pattern-1">
           <div class="side"></div>
           <div class="side2"></div>
    </section> 
</section> 

<section class="contentword">
    <div class="tombstone-1">
    <a href="https://www.moma.org/collection/works/173188">
        <p class="head"><b>Julije Knifer</b></p>
    </a>
        <p class="head"><em>Meander No. 5</em></p>
        <p class="head">1960</p>
       </div>
</section>

<section class="contentart">
    <section class="art-2 pattern-2">
           <div class="blackthick"></div>
           <div class="blackshort"></div>
           <div class="yellowshort"></div>
           <div class="redsandwich"></div>
           <div class="yellowsandwich"></div>
           <div class="redsandwich"></div>
           <div class="redlong"></div>
    </section> 
</section> 

<section class="contentword">
    <div class="tombstone-1">
    <a href="https://www.moma.org/collection/works/78749">
        <p class="head"><b>László Moholy-Nagy</b></p>
    </a>
        <p class="head"><em>EM 3 (Telephone Picture)</em></p>
        <p class="head">1923</p>
       </div>
</section>

<section class="contentart">
    <section class="art-3 pattern-3">
            <div class="block"></div> 
            <div class="smallblock1"></div> 
            <div class="smallblock2"></div> 
            <div class="smallblock3"></div> 
            <div class="middlebigcircle"></div>
            <div class="orange"></div>
            <div class="triflex1">
                <div class="triangle1 tri1"></div> 
                <div class="triangle1 tri1"></div> 
                <div class="triangle1 tri1"></div> 
            </div> 
            <div class="triflex2">
                <div class="triangle2 tri2"></div> 
                <div class="triangle2 tri2"></div> 
                <div class="triangle2 tri2"></div> 
            </div>
            <div class="triflex3">
                <div class="triangle3 tri3"></div> 
                <div class="triangle3 tri3"></div> 
                <div class="triangle3 tri3"></div> 
                <div class="triangle3 tri3"></div> 
                <div class="triangle3 tri3"></div>
            </div>  
            <div class="largetri"></div>
            <div class="pink"></div>
            <div class="green1"></div>
            <div class="green2"></div> 
            <div class="redcube"></div>
            <div class="triflex4">
                <div class="triangle4 tri4"></div> 
                <div class="triangle4 tri4"></div> 
                <div class="triangle4 tri4"></div> 
            </div>
            <div class="bluec"></div>
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
            <div class="line4"></div>
            <div class="line5"></div>
            <div class="line6"></div>
            <div class="line7"></div>
    </section> 
</section> 

<section class="contentword">
    <div class="tombstone-1">
    <a href="https://www.moma.org/collection/works/70099">
        <p class="head"><b>Vasily Kandinsky</b></p>
    </a>
        <p class="head"><em>Orange</em></p>
        <p class="head">1923</p>
       </div>
</section>
 
</center>
</body>
</html>