body {
    background-color: black;
  }
  
  .frame {
    width: 95vw;
    height: 57vw;
    background: white;
    margin: 2.5vw auto;
    position: relative;
    overflow: hidden;
  }

  .base{
    width:95vw;
    height:25vw;
    left:0vw;
    top:30vw;
    background:beige;
    position:relative;
  }

  .baseshadow{
    width:95vw;
    height:3vw;
    left:0vw;
    top:25vw;
    background:rgb(202, 202, 162);
    position:relative;
  }

  .cloth{
    width:65vw;
    height:20vw;
    left:15vw;
    top:-20vw;
    border-radius: 20%;
    background:rgb(255, 205, 205);
    background: linear-gradient(rgb(252, 214, 214),rgb(255, 205, 205),rgb(251, 195, 195));
    position:relative;
    box-shadow: 0.5vw 3vw 1vw 0.7vw rgba(202, 202, 162, 0.3);
  }

 .ball1{
    width:5vw;
    height:5vw;
    left:4vw;
    top:5vw;
    border-radius: 50%;
    background:rgb(242, 221, 101);
    background:linear-gradient(rgb(255, 243, 177),rgb(233, 212, 95));
    position:relative;
    box-shadow: 1vw 0.8vw 1vw 0.2vw rgb(242, 189, 189);
 }

 .book1{
    width:16vw;
    height:2vw;
    left:12vw;
    top:9vw;
    background:rgb(248, 98, 57);
    position:relative;
    box-shadow: 1vw 0.2vw 1vw 0.5vw rgb(238, 177, 177);
 }

 .book1a{
  width:16vw;
  height:3vw;
  left:-0.5vw;
  top:-3vw;
  background:rgb(250, 255, 181);
  background:linear-gradient(rgb(250, 255, 181),rgb(231, 240, 110));
  transform:skew(20deg, 0deg);
  position:relative;
 }

 .book1b{
  width:1.5vw;
  height:2.5vw;
  left:32vw;
  top:-12vw;
  background:rgb(254, 255, 243);
  transform:skew(0deg, 65deg);
  position:relative;
 }

 .cho{
  width:16vw;
  height:3vw;
  left:60vw;
  top:-15vw;
  background:rgb(0, 0, 0);
  transform:skew(-25deg, 10deg);
  box-shadow: 1vw 0.8vw 1vw 0.2vw rgb(242, 189, 189);
  position:relative;
 }

 .glass{
  width:5vw;
  height:20vw;
  left:28vw;
  top:-45vw;
  border-radius: 40%;
  opacity: 70%;
  background:rgb(236, 236, 236);
  position:relative;
 }

 .book2{
  width:13.5vw;
  height:15vw;
  left:32vw;
  top:-57vw;
  background:rgb(48, 48, 48);
  position:relative;
  transform:skew(5deg, 0deg);
  box-shadow:inset 1vw 0.2vw 1.5vw 0.1vw rgb(0, 0, 0);
 }

.mirror{
  width:20vw;
  height:20vw;
  left:58vw;
  top:-75vw;
  border-radius: 50%;
  opacity: 100%;
  background:#f6f6f6;
  position:relative;
  transform:skew(-10deg, 5deg);
  box-shadow:inset -0.8vw 0.2vw 1.5vw 0.1vw rgb(188, 188, 188);
 }

 .circle1{
  width:8vw;
  height:8vw;
  left:53vw;
  top:-83vw;
  border-radius: 50%;
  background:#ff8b38;
  position:relative;
  box-shadow:inset -0.8vw 0.2vw 1.5vw 0.1vw #d54c4c;
 }

 .circle2{
  width:5vw;
  height:5vw;
  left:50vw;
  top:-87vw;
  border-radius: 50%;
  background:#ff3877;
  position:relative;
  box-shadow:inset -0.8vw 0.2vw 1.5vw 0.1vw #d54c4c;
 }

 p{
  color:red;
  font-family:Helvetica;
  font-size: 2.5em;
 }