body, html {
    height: 100%;
    margin: 0;
    background-color: black;
  }
  
  .bg {
    background-image: url("/homework-1/Asset/Imgs/loading.png");
    opacity: 0.7;
    transition: 0.5s;
  
    height: 100%; 
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg:hover{
    background-image: url("/homework-1/Asset/Imgs/Loading.gif");
    opacity: 1;
  }
  
  img{
    position: absolute;
    right:0;
    width:5%;
  }

  audio{
    display:none;}

    @media screen and (max-width: 657px){
      img{
          width:15%;
      }
  }