pre{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 1.5em;
}
a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    color: grey;
}
.right{
    text-align:right;}

    @media screen and (max-width: 767px){
        pre{
          font-size: 0.8em;
        }
        a{
          font-size: 0.8em;
        }
         }